@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
	-webkit-tap-highlight-color: transparent;
	@apply scroll-smooth accent-blue-600;
}

body {
	@apply bg-white dark:bg-black;
}

* {
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	@apply h-1 w-1;
}

::-webkit-scrollbar-track {
	@apply bg-zinc-400/30;
}

::-webkit-scrollbar-thumb {
	@apply bg-zinc-400;
}

.hide-scrollbar::-webkit-scrollbar {
	@apply hidden;
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}


.rdp-vhidden {
	@apply hidden;
}

.fade-in {
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}